<section class="container-fluid" id="section1">
    <div class="v-center">
        <h1 class="text-center" id="homepage-title">FoodCruz</h1>
        <h2 class="text-center lato animate slideInDown" id="homepage-subtitle">Discover recipes and meet local chefs!
        <p class="text-center">
            <br>
            <%= link_to "Sign Up Now!", "", class: "btn btn-blue btn-lg btn-huge lato" %>
            <!--<a href="#" class="btn btn-blue btn-lg btn-huge lato" data-toggle="modal" data-target="#myModal">Get Free Membership</a>-->
        </p>
    </div>
</section>

<section class="container-fluid" id="choices-banner">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div class="row">
                    <div class="col-sm-12 text-center">
                        <div class="panel panel-default slideInLeft animate">
                            <div class="panel-heading">
                                <h3>View Recipes as Guest</h3></div>
                            <div class="panel-body">
                                <p>View all of our recipes as a guest and then join the squad by signing up!</p>
                                <hr><%= link_to "View Recipes", "", class: "btn btn-warning btn-small" %>
                                <hr>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 text-center">
                <div class="row">
                    <div class="col-sm-12 text-center">
                        <div class="panel panel-default slideInUp animate">
                            <div class="panel-heading">
                                <h3>View Recipes as Guest</h3></div>
                            <div class="panel-body">
                                <p>View all of our recipes as a guest and then join the squad by signing up!</p>
                                <hr><%= link_to "View Recipes", "", class: "btn btn-warning btn-small" %>
                                <hr>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 text-center">
                <div class="row">
                    <div class="col-sm-12 text-center">
                        <div class="panel panel-default slideInRight animate">
                            <div class="panel-heading">
                                <h3>View Recipes as Guest</h3></div>
                            <div class="panel-body">
                                <p>View all of our recipes as a guest and then join the squad by signing up!</p>
                                <hr><%= link_to "View Recipes", "", class: "btn btn-warning btn-small" %>
                                <hr>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--/row-->
        <div class="row">
            <br>
        </div>
    </div>
    <!--/container-->
</section>

<!--scripts loaded here-->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>